.bookmark-loader-menu {
	font: normal 18px arial, sans-serif;
	white-space: nowrap;
	color: #888;
	background: rgba(255,255,150,0.7);
	border: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	padding: 20px;
	max-height: 90%;
	overflow: auto;
	border-radius: 0 0 12px 0;
}
.bookmark-loader-menu:hover {
	background: rgba(255,255,150,0.9);
}
.bookmark-loader-menu a {
	text-decoration: none;
	background: transparent;
	color: black;
	border: none;
}
.bookmark-loader-menu a:hover {
	text-decoration: underline;
	color: #00F;
}
.bookmark-loader-menu a.remove {
	font-size: 12px;
	float: right;
	position: relative;
	top: -10px;
	left: 8px;
}
.bookmark-loader-menu ul {
	margin: 0 0 0 15px;
	padding: 0 0 0 20px;
	border: none;
}
.bookmark-loader-menu li {
	margin: 0;
	padding: 8px 0 0 0;
	border: none;
}